{% extends 'main.html'%}
{% load staticfiles %}

{% block search %}

<h1>You search: </h1><h1>{{query}}</h1>
<h2>Positive <span>{{ positive|length }}</span></h2>
<div style="border: 2px solid green">
{% for pos in positive %}
    <p class="clip">{{pos}}</p>
	<hr>
{% endfor %}
</div>
    <br>
<h2>Neutral <span>{{ neutral|length }}</span></h2>

<div style="border: 2px solid blue">
{% for net in neutral %}
    <p class="clip">{{net}}</p>
	<hr>
{% endfor %}
</div><br>
<h2>Negative <span>{{ negative|length }}</span></h2>
<div style="border: 2px solid red">
{% for pos in negative %}
    <p class="clip">{{pos}}</p>
	<hr>
{% endfor %}
    </div>
{% endblock %}